# 字体颜色配置
Green="\033[32m"
Red="\033[31m"
Yellow="\033[33m"
Blue="\033[36m"
Font="\033[0m"
GreenBG="\033[42;37m"
RedBG="\033[41;37m"
WARN="${Yellow}[WARN]${Font}"
OK="${Green}[OK]${Font}"
ERROR="${Red}[ERROR]${Font}"


# 变量
IOS="ios"
ANDROID="android"
APK="apk"
IPA="ipa"
RELEASE="release"
TEST="test"


function print_ok() {
    echo -e "${OK}${Blue} $1${Font}"
}

function print_start() {
    echo -e "${Blue}>>>>$1<<<<${Font}"
}

function print_warn() {
    echo -e "${WARN}${Yellow} $1${Font}"
}

function print_error() {
    echo -e "${ERROR}${RedBG} $1${Font}"
}